footer
  .newsletter
    h2 Subscribe to our Newsletter
    form(action="#" method="post")
      input(type="email" name="email" placeholder="Enter your email here" required)
      button(type="submit") Subscribe

  .footer-content
    .footer-description
      p A full-service Australian immigration firm with experienced lawyers and years of experience handling complex migration matters for both individuals and organisations.

      .google-reviews
        p Google Reviews
        p 
          | ⭐ 5.0 (Top-rated company)
          br
          | Google Reviews

    .footer-address
      .office
        h3 Sydney Office
        p Level 5 48 Market Street
        p Sydney NSW 2000
        p Australia

      .office
        h3 Hong Kong Office (By appointment only)
        p Level 1 28 Stanley Street
        p Central
        p Hong Kong

    .footer-links
      .services
        h3 Services
        ul
          li Global Talent Scheme
          li General Skilled Migration
          li Business Innovation & Investment
          li Employer Sponsored Visas
          li Business Sponsorship Application
          li Education
          li Family Reunion

      .about
        h3 Who we are
        ul
          li About company
          li Professionals
          li Newsroom

      .contact
        h3 Contact us
        p Careers

    .footer-social
      ul
        li: a(href="#") i.fa.fa-instagram
        li: a(href="#") i.fa.fa-facebook
        li: a(href="#") i.fa.fa-tiktok
        li: a(href="#") i.fa.fa-twitter
        li: a(href="#") i.fa.fa-linkedin
        li: a(href="#") i.fa.fa-youtube
        li: a(href="#") i.fa.fa-podcast
        li: a(href="#") i.fa.fa-wechat

    .footer-legal
      p © Riverwoods Lawyers Pty Limited trading as Riverwood Migration ABN 86 647 729 628
