footer
  
  .newsletter
    h2 Subscribe to our Newsletter
    form(action="#" method="post")
      input(type="email" name="email" placeholder="Enter your email here" required)
      button(type="submit") Subscribe

  .footer-content
    .footer-description
      p A full-service Australian immigration firm with experienced lawyers and years of experience handling complex migration matters for both individuals and organisations.

      .google-reviews
        p Google Reviews
        p
          | ⭐ 5.0 (Top-rated company)
          br
          | Google Reviews

    .footer-address
      .office
        h3 Sydney Office
        p Level 5 48 Market Street
        p Sydney NSW 2000
        p Australia

      .office
        h3 Hong Kong Office (By appointment only)
        p Level 1 28 Stanley Street
        p Central
        p Hong Kong

    .footer-links
      .services
        h3 Services
        ul
          li
            a(href="#") Global Talent Scheme
          li
            a(href="#") General Skilled Migration
          li
            a(href="#") Business Innovation & Investment
          li
            a(href="#") Employer Sponsored Visas
          li
            a(href="#") Business Sponsorship Application
          li
            a(href="#") Education
          li
            a(href="#") Family Reunion

      .about
        h3 Who we are
        ul
          li
            a(href="#") About company
          li
            a(href="#") Professionals
          li
            a(href="#") Newsroom

      .contact
        h3 Contact us
        p
          a(href="#") Careers

    .footer-legal
      p © Riverwoods Lawyers Pty Limited trading as Riverwood Migration ABN 86 647 729 628
