header
  .navbar
    .logo
      a(href="#") 
        img(src="../image/logo.png" alt="Riverwood Migration")
    nav
      ul
        li: a(href="#") Discover the firm +
        li: a(href="#") Migration +
        li: a(href="#") Education
        li: a(href="#") Blog
        li: a(href="#") Contact Us
        li: a(href="#") Book a consultation
