extends ../layout/main.pug

block variables 
  - var title = 'Home Page'

block content 
  main
    .hero
      img(src="https://s3-alpha-sig.figma.com/img/b857/e560/14f5cb9a0e159aee97aa5069a615b7e1?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PN5mUXHfKw~OrGM0sJsZFqc~I31rDTFac4n5gClv0VuqkvZpmPEut-0QGpjlJuMtSHL6zyO80iQgBj9PnfZIU-amCkiqH23wDMx26ghnK3Ui1XYblJLbLofyVK2iMFXAHmZLrlerkbPFQ8SRMHL4tMla72OR1~2TAvCtkWuofxSdZJaQa60Jv9~T4747DeQo23kmQYWCnOh5~6L8C41EwoRITM8~IbwS5MQf5Fwa1phVJ~GBya-oanwuOlfyj8vjtyFO-cbABx-rAE-eX6R3e9fZY2QjlO~d~hx8MDJVaf0K1KedWXxQLUdyhF2Akx6bTWI02vp7bHyYHvrr9ofCPQ__" alt="Sydney Bridge")
      h1 About Riverwood Migration

    .introduction
      p 
        | We are a specialist Australian law firm with experienced lawyers and registered migration agents handling highly complex skilled migration matters for both corporate employers and skilled individuals.

      p 
        | Also, we offer knowledge of Australian immigration services in Hong Kong. Riverwood Migration is highly familiar with the migration landscape of Australia and specializes in family reunions, corporate clients, and individuals. Whether professionals or entrepreneurs, from visa applications and assessments to settlement, naturalization, and passports, Riverwood Migration can assist you in successfully navigating the entire immigration process.

      a.btn(href="#") Contact Us

    .about-company
      h2 About the company
      p 
        | We are a specialized Australian law firm with experienced lawyers and years of experience handling complex skilled migration matters for both individuals and organizations.

      .highlight-box
        p 
          | Our migration lawyers are accredited to handle projects in Subclass 491 Temporary Residence and are qualified to provide clients with necessary advice and assistance for Subclass Subclass 189 and 190 PR visas.

    .services
      h2 Services
      ul
        li General Skilled Migration
        li Global Talent Independent Program
        li Employer Sponsored Visas
        li Business Sponsorship Application
        li Business Innovation & Investment


